*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    
    background-image:url('/assets/pen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.setheight{
height:100vh;
}